@import url('https://fonts.google.com/specimen/Hanken+Grotesk');

body {
    font-family: 'Hanken Grotesk';
    font-weight: bold;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.left-box, .right-box {
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 550px;
}

.left-right-box {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    box-shadow: 15px 25px 35px;
}

.left-box {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 50px;
}

.right-box{
    display: flex;
    justify-content: space-around;
}

.reaction, .memory, .verbal, .visual, .irn, .oss {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.reaction, .memory, .verbal, .visual {
    gap: 90px;
    border: 1px solid red;
    margin-bottom: 25px;
    padding: 15px 15px;
    border-radius: 12px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.041);
}

.memory {
    background-color: rgba(255, 176, 31, 0.041);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.041);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.041);
}

.reaction-in {
    color:hsl(0, 100%, 67%);
}

.memory-in {
    color: hsl(39, 100%, 56%);
}

.verbal-in {
   color: hsl(166, 100%, 37%); 
}

.visual-in {
    color: hsl(234, 85%, 45%);
}

.img {
    margin-right: 20px;
}

img {
    display: flex;
    justify-content: center;
}

.irn {
}

.oss {
    margin-left: auto;
}

.score-oss {
    color: gray;
}

.score {
    border: 1px solid (hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.whole-box {
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 1440px;
}

.result {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 22px;
}

.over {
    font-size: 80px;
    color: white;
    font-weight: bold;
}

.over-score {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.541);
    font-weight: bold;
    margin-top: -12px;
}

.adjective {
    border: 1px solid red;
    font-size: 30px;
    color: white;
}

.description {
    color: rgba(255, 255, 255, 0.76);
    font-size: 18px;
    width: 255px;
    text-align: center;
    border: 1px solid red;
    margin-bottom: 38px;

}

.summary {
    border: 1px solid red;
    font-size: 25px;
    display: flex;
    font-weight: bold;
    text-align: left;
    position: relative;
    right: 90px;
    margin-top: 32px;
    margin-bottom: 15px;
}

.continue-btn {
    font-size: 18px;
    padding: 15px 98px;
    cursor: pointer;
    border-radius: 50px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: white;
    font-weight: bold;
    margin-bottom: 47px;
}

.continue-btn:active {
    background-image: linear-gradient(hsl(224, 30%, 27%),hsl(224, 30%, 27%));
}







